name: test action
on:
  push:
    branches:
      - main
      - actions-test
  workflow_dispatch:

jobs:
  install:
    strategy:
      matrix:
        env:
          - runner: ubuntu-24.04
          - runner: ubuntu-24.04-arm
          - runner: macos-latest
    name: test action
    runs-on: ${{ matrix.env.runner }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5

      # main branch
      - uses: fujiwara/apprun-cli@7eb1cc5276848b5aa724f8650a370df3af57fa27 # v0
        with:
          version: v0.3.3
      - run: |
          apprun-cli --version 2>&1 | fgrep v0.3.3
          rm -f `which apprun-cli`

      - uses: fujiwara/apprun-cli@7eb1cc5276848b5aa724f8650a370df3af57fa27 # v0
        with:
          version-file: .test-apprun-cli-version
      - run: |
          apprun-cli --version 2>&1 | fgrep v0.3.2
          rm -f `which apprun-cli`

      # actions-test branch
      - uses: fujiwara/apprun-cli@189de78b89a5d1745eba6acf9445710a693ab9a2 # actions-test
        with:
          version: v0.3.2
      - run: |
          apprun-cli --version 2>&1 | fgrep v0.3.2
          rm -f `which apprun-cli`

      - uses: fujiwara/apprun-cli@189de78b89a5d1745eba6acf9445710a693ab9a2 # actions-test
        with:
          version-file: .test-apprun-cli-version
      - run: |
          apprun-cli --version 2>&1 | fgrep v0.3.2
          rm -f `which apprun-cli`

      # with args
      - uses: fujiwara/apprun-cli@86d05b8105120cd6f5e41bfce48c854706fb3dbf # v0.4.0
        with:
          version: v0.4.0
          args: --version
